<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>일정 아이템 추가</title>
  <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"/>
  <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"/>

  <script th:src="@{/scripts/timeInputControl.js}"></script>
  <script th:src="@{/scripts/placeAutoComplete.js}"></script>
  <link rel="stylesheet" href="/css/schedule/scheduleItemCreate.css">
  <script defer th:src="@{/scripts/scheduleItemCreate.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: siteHeader}"></div>
<div id="schedule-data"
     th:data-schedule-id="${schedule.id}"
     th:data-start-date="${schedule.startDate}"
     th:data-end-date="${schedule.endDate}"
     style="display: none;">
</div>

<h1 class="schedule_form_title" th:text="${isNew} ? '🗺️ 일정에 장소 추가' : '🗺️ 장소/날짜 수정 하기'"></h1>

<form class="schedule_form"
        id="schedule_form"
      th:object="${scheduleItemDTO}"
      th:data-user-id="${userId}"
      th:data-schedule-id="${schedule.id}"
      th:data-item-id="${scheduleItemDTO.id}"
      th:data-is-new="${isNew}">
  <div class="form_group">
    <label for="place_search">장소 검색</label>
    <input type="text" id="place_search" class="place_search"
           placeholder="장소 이름 입력" autocomplete="off" th:field="*{placeName}">
    <input type="hidden"  th:field="*{placeId}" id="place_id">
    <ul id="autocomplete_list" class="autocomplete_list"></ul>
  </div>

  <div class="form_group">
    <label for="start_time">시작 시간</label>
    <input type="datetime-local" th:field="*{startTime}"
           id="start_time" name="start_time" required />
  </div>

  <div class="form_group">
    <label for="end_time">종료 시간</label>
    <input type="datetime-local" th:field="*{endTime}"
           id="end_time" name="end_time" required />
  </div>

  <div class="form_group">
    <label for="memo">메모</label>
    <textarea id="memo" name="memo" th:field="*{memo}"
              rows="3" placeholder="예: 반려견 산책 코스 추천" maxlength="500"></textarea>
  </div>

  <button type="submit" class="submit_button" th:text="${isNew} ? '장소 생성' : '장소 수정'">장소 추가</button>
</form>

</body>
</html>
