<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>내 여행 일정</title>
  <script th:src="@{/scripts/scheduleList.js}"></script>
  <link rel="stylesheet" th:href="@{/css/scheduleList.css}"/>
</head>
<body>

<h1 class="main_title">📅 내 여행 일정</h1>

<div id="empty_message" th:if="${#lists.isEmpty(schedules)}">
  <p>등록된 일정이 없습니다.</p>
</div>

<div id="schedule_list" class="schedule_list">
</div>

<a th:href="@{/schedule/new}" class="create_schedule_button">+ 새 일정 만들기</a>

</body>
</html>
