<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>일정 만들기</title>
    <script th:src="@{/scripts/scheduleCreate.js}"></script>
    <link rel="stylesheet" th:href="@{/css/schedule/scheduleCreate.css}"/>
</head>
<body>

<h1 th:if="${formAction.contains('new')}">📌 새 여행 일정 만들기</h1>
<h1 th:if="${!formAction.contains('new')}">📌 일정 수정 하기</h1>

<form th:action="@{${formAction}}" method="POST" th:object="${scheduleDTO}">
    <div class="form_group">
        <label for="title">일정 제목</label>
        <input type="text" th:field="*{title}"
               id="title" name="title" placeholder="예: 가평 여행" required />
    </div>

    <div class="form_group">
        <label for="start_date">시작 날짜</label>
        <input type="date" th:field="*{startDate}"
               id="start_date" name="start_date" required />
    </div>

    <div class="form_group">
        <label for="end_date">종료 날짜</label>
        <input type="date" th:field="*{endDate}"
               id="end_date" name="end_date" required />
    </div>

    <button  th:if="${formAction.contains('new')}" type="submit" class="submit_button">일정 생성</button>
    <button  th:if="${!formAction.contains('new')}" type="submit" class="submit_button">일정 수정</button>
</form>

</body>
</html>
