@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
  --black_main: #333333;
  --blue_main: #2C5A82;

  --red_main : #FF5555;

  --orange_main: #F47B38;
  --beige_main: #FCDDBE;
  --beige_light: #FFF8F1;

  --gray_main: #d9d9d9;
  --gray_light: #f1f1f1;

  --white: #ffffff;

  --gray_000: #ffffff;
  --gray_050: #fafafa;
  --gray_100: #f5f5f5;
  --gray_200: #e5e5e5;
  --gray_300: #d4d4d4;
  --gray_400: #a3a3a3;
  --gray_500: #737373;
  --gray_600: #525252;
  --gray_700: #404040;
  --gray_800: #262626;
  --gray_900: #000000;
}

html, body{
    height: 100%;
}

* {
    font-family: 'Pretendard', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul, li, ol {
    list-style-type: none;
}