<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 주변 검색</title>
    <script th:src="|${googleMapAPIUrl}?key=${googleMapAPIKey}&libraries=places,geometry|"
            defer></script>
    <script th:src="@{/scripts/locationSearch.js}" defer></script>
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/location/locationSearch.css">
</head>
<body>
<div th:replace="~{common/header :: siteHeader}"></div>
<div class="main_title">🗺️ 지도로 검색하기</div>
<div class="sub_title">마우스 조작(드래그, 휠)을 통해 원하는 지역의 관광지를 찾아보세요!</div>
<div id="map" style="width:100%; height:400px;"></div>
<div id="placeCardPanel" class="place-card-panel hidden"></div>
</body>
</html>